
body {
  margin-left: 20px;
}

#introduction {
 color: #EFD3D7;
 background-color: #cbc0d3;
 padding-bottom: 20px;
  padding-top: 20px;
}
img {
  margin-left: 20px;
}

a {
  color: white;
}


#first-para {
  margin-left: 20px;
}